extends layout
block body
  h2 Recently created events
  .row
    each evt in events
      .col-sm-3
        .card
          .card-body
            h5.card-title #{evt.title}
            p.card-text #{evt.agenda}
            p.card-text From #{evt.startDate} To #{evt.endDate}
            a.btn.btn-primary(href="#") Show Details

